<div class="form-group">
    <label for="user">Username</label>
    <input required type="text" name="user" id="user" 
    class="form-control">
</div>

<div class="form-group">
    <label for="comment">Your Comment for This Course</label>
    <textarea name="comment" id="comment" class="form-control"></textarea>
</div>

<a href="/" class="btn btn-secondary" >Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>