<div class="form-group">
    <label for="class_name">Class Name</label>
    <input required type="text" name="class_name" id="class_name" 
    class="form-control">
</div>

<div class="form-group">
    <label for="info">Basic Class Information</label>
    <textarea name="info" id="info" class="form-control"></textarea>
</div>

<div class="form-group">
    <label for="professor">Professor</label>
    <textarea name="professor" id="professor" class="form-control"></textarea>
</div>

<div class="form-group">
    <label for="summary">Course Content Summary</label>
    <textarea name="summary" id="summary" class="form-control"></textarea>
</div>


<a href="/" class="btn btn-secondary" >Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>