<!doctype html>
<html lang='en'>
<head>

<title>Login</title>
<%- include('head');-%>


</head>
<body>

  <h3>Login</h3>

  <div class="form-box">
    <form class="form1" action="/login" method="post">
      <input type="text" name="username" value="" placeholder="please enter your username">
      <input type="password" name="password" value="" placeholder="please enter your password">
      <input class="submit" type="submit" value="login">
    </form>

<div>

  </div>

  <div>Does not have an account? <a href="/regist">register now</a></div>
  </div>

</body>
</html>
