<!doctype html>
<html lang='en'>
<head>

<title>register</title>
<%- include('head');-%>


</head>
<body>

  <h3>register</h3>

  <div class="form-box">
    <form class="form1" action="/regist" method="post">
      <input type="text" name="username" value="" placeholder="please enter your username">
      <input type="password" name="password" value="" placeholder="please enter your password">
      <input type="password" name="password2" value="" placeholder="please confirm your password">
      <input class="submit" type="submit" value="register">
    </form>

<div>

  </div>

  <div>already have account? <a href="/login">login</a></div>
  </div>

</body>
</html>
