body{
    color:black
}

h1 {
    font-size: 30px;
}
h2{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
   
}
h5{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}