body{
    color:black
}

h1 {
    font-size: 30px;
}
h2{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-width: 1px;
    border-color:blue;
    border-style: groove;
}
h5{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-width: 1px;
    border-color: blue;
    border-style: groove;
}