<!DOCTYPE html>
<html lang='en'>
    <h1>Enter a Keyword to Search for Class</h1>

    
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-12">
                <% if(noMatch !== null) { %>
                <h3><%= noMatch %></h3><% } %>
                <p>
                   <form action="/search" method="GET" class="form-inline">
                       <div class="form-group">
                           <input type="text" name="search" placeholder="Classes search..." class="form-control">
                           <input type="submit" value="Search" class="btn btn-default">
                       </div>
                   </form>
               </p>
               
            </div>
       <% classesList.forEach(function(course){ %>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                  <div class="caption">
                      <h4><%= course.name %></h4>
                  </div>
                  <p>
                      <a href="/search/<%=course._id %>" class="btn btn-primary">More Info</a>
                  </p>
               </div>
           </div>
       <% }); %>
   </div>
</div>
</body>
</html>
